:root {
    --bg-body: #fee3ec;
    --bg-content: #f9c6d5;
    
    --color-txt: #f999b7;

    --color-btn: #f2789f;

    --nav-height: 70px;

    --shadow: 0 0 30px rgb(82 63 105 / 5%);

    --font-size: 1rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;

    --font-family-1: 'Cairo', sans-serif;
    --font-family-2: 'Potta One', cursive;
}

.dark {
    --bg-body: #1b262c;
    --bg-content: #0f4c75;
    
    --color-txt: #bbe1fa;

    --color-btn: #3282b8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: var(--font-family-1);
    font-family: var(--font-family-2);
    background-color: var(--bg-body);
    color: var(--color-txt);
    position: relative;
    height: 100vh;
    overflow: hidden;
}

input {
    font-family: var(--font-family-1);
    font-family: var(--font-family-2);
    border: 2px solid var(--bg-content);
    color: var(--color-txt);
    background-color: var(--bg-content);
}

input:hover, input:focus {
    border-color: var(--color-txt);
}

a {
    text-decoration: none;
    display: inline-block;
}

.nav-wrapper {
    background-color: var(--bg-content);
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    z-index: 99;
}

.nav {
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    color: var(--color-txt);
    font-size: var(--font-size-lg);
    font-weight: 900;
}
.logo i {
    color: var(--color-btn);
}

.logo .age {
    color: var(--color-btn);
    font-size: var(--font-size-lg);
    font-weight: 900;
}


.darkmode-switch {
    --width: 60px;
    --height: 20px;
    width: var(--width);
    height: var(--height);
    background-color: lightslategray;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.darkmode-switch span {
    display: inline-grid;
    place-items: center;
    height: calc(var(--height) * 2);
    width: calc(var(--height) * 2);
    border-radius: 50%;
    background-color: var(--color-txt);
    color: var(--bg-content);
    font-size: 2rem;
    position: absolute;
    left: 0;
    top: calc(-1 * var(--height) / 2);
    transition: left 0.3s ease-in-out;
}
.darkmode-switch.dark span {
    left: calc(var(--width) - var(--height) * 2);
    background-color: var(--bg-body);
    color: var(--color-txt);

}
.darkmode-switch span .bxs-moon {
    display: none;
}
.darkmode-switch.dark span .bxs-moon {
    display: inline-block;
}
.darkmode-switch.dark span .bxs-sun {
    display: none;
}

.main {

    height: 100vh;
    padding: var(--nav-height) 0;
    display: grid;
    place-items: center;
}

.screen {
    width: 100%;
   height: 100%;
   max-width: 800px;
   position: relative;
   overflow: hidden;
}

.loggon-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    
}

.loggon-screen.active, .main-screen.active {
    transform: translateX(0);
}

.loggon-screen > * + * {
    margin-top: 20px;
}

.input-name, .input-password {
    width: 280px;
    height: 80px;
    font-size: var(--font-size);
    text-align: center;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
}

.btn {
    width: 280px;
    height: 80px;
    font-size: var(--font-size);
    border-radius: 10px;
    background-color: var(--color-btn);
    color: white;
    display: grid;
    place-items: center;
    overflow: hidden;
    cursor: pointer;
}

.input-err {
    border-color: red;
    animation: bounce .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}



.main-screen {
    padding: 30px 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.main-screen .box{
    padding: 10px;
    width: 100%;
    height: max-content;
    text-align: center;
    background-color: var(--bg-content);
    border-radius: 10px;
}

.box-header {
    margin-bottom: 20px;
}

.btn-play {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bg-body);
    display: inline-grid;
    place-items: center;
    cursor: pointer;
}

.btn-play i {
    font-size: 1.35rem;
}

.btn-play .bx-pause {
    display: none;
}

.btn-play.isPlaying .bx-pause {
    display: inline-block;
}

.btn-play.isPlaying .bx-play {
    display: none;
}

.countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.day.ring, .hour.ring, .minute.ring, .second.ring {
    animation: bounce .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(1px);
    }
    50% {
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(0);
    }
}

.countdown > div + div {
    margin-left: 30px;
}

.countdown div {
    position: relative;
    font-size: var(--font-size-xl)
}

.memories {
    position: relative;
}

.memories p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: var(--font-size-xl);
    opacity: 1;
    visibility: visible;
    transition: all 2s ease;
}

.memories.active .swiper{
    visibility: visible;
    opacity: 1;
}
.memories.active p{
    visibility: hidden;
    opacity: 0;
}

.swiper {
    width: 80%;
    height: 280px;
    background-color: var(--bg-body);
    visibility: hidden;
    opacity: 0;
    transition: all 2s ease-in-out;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-txt);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--bg-content);
    color: var(--color-txt);
    font-size: var(--font-size);
    z-index: 99;
    /* font-family: var(--font-family-1); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer.active {
    display: none;
    position: none;
}

.footer a {
    color: var(--color-btn);
    font-weight: 700;
    margin-left: 5px;
}

/* medium screen */
@media only screen and (max-width: 800px) {
    :root {
        --nav-height: 50px;

        --font-size: 1rem;
        --font-size-lg: 1.5rem;
        --font-size-xl: 2rem;

    }

    .main-screen .banner {
        height: var(--nav-height)
    }

    .swiper {
        height: 240px;
    }

    .nav-wrapper {
        padding: 0 15px;
    }

    .darkmode-switch {
        --width: 50px;
        --height: 15px;
    }

    .input-name,
    .input-password,
    .btn {
        height: 50px;
    }

    .screen {
       max-width: unset;
    }

    .box-header {
        margin-bottom: 0;
    }

    .img-thumb {
        width: 210px;
        height: 210px;
    }
}



